/*======================*/
/* Global               */
/*======================*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
}

:root {
    --color-main: #16161d;
    --color-nav: #F6F8FC;
    --color-nav-text: #606262;
    --color-search: #EAF1FB;
}

.dark {
}
/*======================*/
/* End Global           */
/*======================*/


/*======================*/
/* Navbar               */
/*======================*/
.clock {
    white-space: nowrap;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-nav);
    color: var(--color-nav-text);
    height: 64px;
}

nav .navbar-groups {
    display: flex;
    align-items: center;
}

nav .navbar-groups button {
    border-style: none;
    background-color: var(--color-nav);
    font-size: 30px;
    cursor: pointer;
    padding: 0 10px;
    margin-top: 6px;
}

nav .searchbar-component{
    width: 100%;
    min-width: 400px;
}

nav .searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .searchbar input {
    width: 100%;
    min-width: 400px;
    height: 48px;
    outline: none;
    border: none;
    background-color: var(--color-search);
    font-size: 18px;
}

.loupe {
    background-image: url(icons/loupe.svg);
    background-color: var(--color-search);
    float: left;
    background-position: center;
    background-repeat:no-repeat;
    margin: 0 -10px 6px 0;
    width: 48px;
    height: 48px;
    border-radius: 20px 0 0 20px;
}

.sliders {
    background-image: url(icons/sliders.svg);
    background-color: var(--color-search);
    float: left;
    background-position: center;
    background-repeat:no-repeat;
    margin: 0 0 6px -10px;
    width: 48px;
    height: 48px;
    border-radius: 0 20px 20px 0;
}

.nav-links {
    position: relative;
    left: -10px;
    white-space: nowrap;
}
.filter-container {
    display: flex;
    justify-content: center;
}
.searchbar-filters {
    overflow: hidden;
    position: absolute;
    top: 69px;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    font-size: 15px;
}

.searchbar-filters li {
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.searchbar-filters li input {
    width: 100%;
    max-width: 80%;
    height: 20px;
    border:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: 1px solid red;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    nav .nav-links {
        visibility: hidden;
        display: none;
    }
}