/*======================*/
/* Global               */
/*======================*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    position: relative;
    min-height: 100vh;
}

:root {
    --color-main: #16161d;
    --color-nav: #F6F8FC;
    --color-nav-text: #606262;
    --color-search: #EAF1FB;
}

.dark {
}

hr {
    height: 1px;
    background-color: var(--color-search);
    border: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-main);
}

/* used when sidebar is shown, then main content gains round corners */
.round-corners {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
/*======================*/
/* End Global           */
/*======================*/

/*======================*/
/* Loading animation    */
/*======================*/
.animation-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid var(--color-main);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/*=======================*/
/* End loading animation */
/*=======================*/

/*======================*/
/* Tooltips             */
/*======================*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    z-index: 2;
}

/* Tooltip text */
.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    margin-top: 25px;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*======================*/
/* End tooltips         */
/*======================*/

/*======================*/
/* Navbar               */
/*======================*/
.nav-container {
    position: sticky;
    top: 0;
    z-index: 2;
}

.clock {
    white-space: nowrap;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-nav);
    color: var(--color-nav-text);
    height: 64px;
    z-index: 3;
}

nav .navbar-groups {
    display: flex;
    align-items: center;
}

nav .navbar-groups button {
    border-style: none;
    background-color: var(--color-nav);
    font-size: 30px;
    text-align: left;
    cursor: pointer;
    padding: 0 10px;
    margin-top: 6px;
}

nav .searchbar-component{
    width: 100%;
    min-width: 400px;
}

nav .searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .searchbar input {
    width: 100%;
    min-width: 400px;
    height: 48px;
    outline: none;
    border: none;
    background-color: var(--color-search);
    font-size: 18px;
}

.loupe {
    background-image: url(icons/loupe.svg);
    background-color: var(--color-search);
    float: left;
    background-position: center;
    background-repeat:no-repeat;
    margin: 0 -10px 6px 0;
    width: 48px;
    height: 48px;
    border-radius: 20px 0 0 20px;
}

.sliders {
    background-image: url(icons/sliders.svg);
    background-color: var(--color-search);
    float: left;
    background-position: center;
    background-repeat:no-repeat;
    margin: 0 0 6px -10px;
    width: 48px;
    height: 48px;
    border-radius: 0 20px 20px 0;
}

.nav-links {
    position: relative;
    left: -10px;
    white-space: nowrap;
}
.filter-container {
    display: flex;
    justify-content: center;
}

.searchbar-filters {
    overflow: hidden;
    position: absolute;
    top: 69px;
    border: 1px solid var(--color-search);
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    font-size: 15px;
    width: 700px;
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.searchbar-component li {
    width: 100%;
    margin: auto;
}

.searchbar-filters li ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputs-parent{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar-filters li input, .searchbar-filters li select {
    width: 80%;
    height: 20px;
    border: none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: 1px solid var(--color-search);
}

.filters-date-aligment  {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-container select {
    margin:  0 8px 0 8px;
}

.search-bar-submit {
    cursor: pointer;
    margin: 0 11% 10px auto;
    width: 15%;
    /*padding: 10px;*/
    border: none;
    background-color: #1A73E8 !important;
    padding: 10px;
    color: var(--color-search);
    border-radius: 5px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    nav .nav-links {
        visibility: hidden;
        display: none;
    }
}
/* end nacbar */


/* sidebar */
.sidebar-container {
    background-color: var(--color-nav);
    position: absolute;
    margin-left: -40px;
    display: block;
    z-index: 0;
    height: calc(100vh - 64px);
}

.nav-hamburger {
    position: relative;
    top: -7px;
}

.sidebar {
    width: 300px;
    margin-top: -17px;
}

.sidebar li{
    width: auto;
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: var(--color-search);
    color: black;
}
/* end sidebar */

/* footer */
.footer-container {
    display: flex;
    /* padding-bottom: 2.5rem; */
    flex-direction: column-reverse;
    width: 100%;
}
footer {
    position: absolute;
    background-color: var(--color-search);
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    height: 1.9rem; /* Footer height */
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
    padding: 0;
}

footer ul li {
    width: 150px;
}
/* end footer */


/* mails list */
.small-sidebar {
    /* used when sidebar is open, then maillist width is smaller */
    margin-left: 260px;
    padding: 2px 10px;
    background-color: var(--color-nav);
}

.mail-list-container {
    width: auto;
    display: block;
    z-index: 0;
    padding: 2px 10px;
}

.mail-list-items {
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    border-radius: 3px;
    border-bottom: 1px solid var(--color-nav);
}

.mail-list-items:hover {
    background-color: var(--color-search);
}

.mail-list-date {
    margin-left: auto;
    margin-right: 10px;
}

.mail-from {
    width: 200px;
    overflow: hidden;
}

.mail-info {
    padding: 5px;
    margin: 0 0 0 10px;
}
/* end mail list */

/* mail view */
.mail-body {
    padding: 15px;
}

.mail-view-container {
    background-color: white;
    padding: 10px 15px;
}

.mail-nav {
    height: 20px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 0;
}

.mail-nav button{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    margin: 0 25px 0 5px;
    padding-top: 5px;
}

.mail-nav-icons {
    width: auto;
    height: auto;
    filter: invert(36%) sepia(0%) saturate(2896%) hue-rotate(232deg) brightness(100%) contrast(85%);
}

.mail-subject {
    font-size: 30px;
    font-weight: 1;
}

.mail-delivery-info {
    display: flex;
    justify-content: space-between;
}
/* end mail view */

/* login */
.login-container {
    margin: 15vh auto;
    height: 350px;
    border-radius: 15px;
}

.login-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: auto;
    padding: 5px 0 50px 0;
}

.login-element input {
    background-color: var(--color-search);
    border: 1px solid var(--color-search);
    height: 30px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.login-element input:hover {
    background-color: white;
    border: 1px solid var(--color-search);
    border-radius: 5px;
}

.login-element .login-button {
    background-color: var(--color-main);
    color: var(--color-nav);
    font-size: 20px;
    height: 40px;
    width: 125px;
    margin: auto;
    cursor: pointer;
}

.login-element .login-button:hover {
    background-color: var(--color-search);
    color: var(--color-main);
}

.how-to-get-code a {
    color: blue;
}
